html {
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 20px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    display: block;
    width: fit-content;
    margin: auto;
    padding: 5px;
}

#cl_final_header {
    text-align: center;
    margin: 20px 0;
}

.match_result {
    margin: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: fit-content;
    gap: 30px;
    justify-items: center;
}

.table_container {
    display: flex;
    padding: 20px;
    gap: 200px;
    width: fit-content;
    margin: auto;
    flex-wrap: wrap;
}

.table_container table {
    text-align: center;
    width: 300px;
}

.table_container table td {
    padding: 5px;
}

.table_container table td:nth-child(3) {
    text-align: left;
    padding-left: 50px;
}

.pitch_container {
    border: 1px solid black;
    margin: 20px auto;
    width: fit-content;
    max-height: 100%;
    position: relative;
}

.pitch_container img {
    height: 700px;
}

.pitch_container .player_circle {
    border-radius: 50%;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    vertical-align: center;
    width: 28.375px;
    padding: 5px;
    overflow: visible;
}

.pitch_container .away_circle {
    background-color: rgb(243, 157, 157);
    border: rgb(0, 0, 0) solid 1px;
}

.pitch_container .home_circle {
    background-color: rgb(175, 196, 248);
    border: rgb(0, 0, 0) solid 1px;
}

.span_names {
    width: max-content;
}

.circle_and_name_container {
    /* border: 1px black solid; */
    width: 50px;
    height: 52.6667px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    position: absolute;
}