html {
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 20px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    display: block;
    width: fit-content;
    margin: auto;
    padding: 5px;
}

#cl_final_header {
    text-align: center;
    margin:20px 0;
}

.match_result {
    margin: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: fit-content;
    gap: 30px;
    justify-items: center;
}

.table_container {
    display: flex;
    padding: 20px;
    gap: 200px;
    width: fit-content;
    margin: auto;
}

.table_container table {
    text-align: center;
}

.table_container table td {
    padding: 5px;
}

.table_container table td:nth-child(3) {
    text-align: left;
    padding-left: 50px;
}

.pitch_container {
    border: 5px solid green;
    margin: 20px auto;
    width: fit-content;
    position: relative;
}

.pitch_container img {
    height: 650px;
}

.pitch_container .player_circle {
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
    width: 28.375px;
    padding: 5px;
    overflow: visible;
}

.pitch_container .away_circle {
    background-color: red;
    border: rgb(0, 0, 0) solid 1px;
}

.pitch_container .home_circle {
    background-color: rgb(255, 255, 255);
    border: rgb(0, 0, 0) solid 1px;
}

.span_names {
    width: max-content;
}

#pos1_away { /* Goalkeeper */
    /* top: 35px; */
    top: 5.5%;
    left: calc(50% - (28.375px/2));
}

#pos2_away { /* RB */
    /* top: 100px */
    top: 15.7%;
    /* left: 50px; */
    left: 7.85%;
}

#pos3_away { /* RCB*/
    top: 15.7%;
    left: 33%;
}

#pos4_away { /* LCB*/
    top: 15.7%;
    right: 33%;
}

#pos5_away { /* LB */
    top: 15.7%;
    right: 7.85%;
}

#pos6_away { /* RM */
    top: 28.7%;
    left: 7.85%;
}

#pos7_away { /* RCM */
    top: 28.7%;
    left: 33%;
}

#pos8_away { /* LDM */
    top: 24.7%;
    right: 33%;
}

#pos9_away { /* LM */
    top: 28.7%;
    right: 7.85%;
}

#pos10_away { /* CAM */
    top: 35.7%;
    left: calc(50% - (28.375px/2));
}

#pos11_away { /* LCF */
    top: 43.7%;
    left: calc(50% - (28.375px/2));
}

/* Home Team positions */

.circle_and_name_container {
    /* border: 1px black solid; */
    width: 50px;
    height: 52.6667px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    position: absolute;
}

#container1_home { /* GK */
    /* bottom: 3%;
    left: 50%;
    transform: translateX(-50%); */
}

#container2_home { /* RB */
    /* bottom: 12.5%;
    right: 7.85%; */
}

#container3_home { /* RCB */
    /* bottom: 12.5%;
    right: 31%; */
}

#container4_home { /* LCB */
    /* bottom: 12.5%;
    left: 31%; */
}

#container5_home { /* LB */
    /* bottom: 12.5%;
    left: 7.85%; */
}

#container6_home { /* RCM */
    /* bottom: 27.1%;
    right: 31%; */
}

#container7_home { /* CDM */
    /* bottom: 19.8%;
    left: 50%;
    transform: translateX(-50%); */
}

#container8_home { /* LCM */
    /* bottom: 27.1%;
    left: 31%; */
}

#container9_home { /* CAM */
    /* bottom: 34.4%;
    left: 50%;
    transform: translateX(-50%); */
}

#container10_home { /* RCF */
    /* bottom: 41.7%;
    right: 31%; */
}

#container11_home { /* LCF */
    /* bottom: 41.7%;
    left: 31%; */
}


